<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let employee"> {{employee.name}} </td>
  </ng-container>
  

  <ng-container matColumnDef="age">
    <th mat-header-cell *matHeaderCellDef> Age </th>
    <td mat-cell *matCellDef="let employee"> {{employee.age}} </td>
  </ng-container>


  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef> Username </th>
    <td mat-cell *matCellDef="let employee"> {{employee.username}} </td>
  </ng-container>

  <ng-container matColumnDef="hireDate">
    <th mat-header-cell *matHeaderCellDef> Hire Date </th>
    <td mat-cell *matCellDef="let employee"> {{ employee.hireDate | date }} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let employee">
      <a routerLink="/employees/{{employee.uid}}">
        <mat-icon matTooltip="create">
          create
        </mat-icon>
      </a>
      <a routerLink="/employees/{{employee.uid}}" [queryParams]="{ viewmode: true }">
        <mat-icon matTooltip="view">
          visibility
        </mat-icon>
      </a>
      <a (click)="deleteEmployee(employee)">
        <mat-icon matTooltip="delete">
          delete_forever
        </mat-icon>
      </a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>