<form [formGroup]="employeeForm" (ngSubmit)="handleSubmit($event)" class="employee-form-container">
  <div class="form-row">
    <app-employee-info [parentForm]="employeeForm"></app-employee-info>
    <app-job-details [parentForm]="employeeForm"></app-job-details>
  </div>
  <button routerLink="/employees" mat-raised-button>back</button>
  <button
    *ngIf="showSaveButton"
    type="submit"
    mat-raised-button
    color="primary"
    [disabled]="!employeeForm.valid">
    save
  </button>
</form>